In [261]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.2f}'.format

# Unemployment Data

In [217]:
df = pd.read_csv("Unemployment_Canada_1976_present.csv")

In [218]:
df.GEO.unique()

array(['Alberta', 'British Columbia', 'Canada', 'Manitoba',
       'New Brunswick', 'Newfoundland and Labrador', 'Nova Scotia',
       'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan'],
      dtype=object)

In [219]:
df_Canada = df[~(df.GEO == 'Canada')]

In [220]:
df_Canada_2 = df_Canada[df_Canada['Age group'].isin(['15 years and over'])]

In [221]:
# Check if we have '15 to 24 years', '25 years and over' for all months available and all provinces
comparison_set = {'15 years and over'}
notifications = []
for province in df_Canada_2.GEO.unique():
    temp_df = df_Canada_2[df_Canada_2.GEO == province]
    for month in temp_df['REF_DATE'].unique():
        if set(temp_df[temp_df.REF_DATE == month]['Age group'].tolist()) == comparison_set:
            continue
        else:
            notifications.append(f'{province}, {month}')

In [222]:
notifications

[]

In [223]:
notifications = []
for province in df_Canada_2.GEO.unique():
    temp_df = df_Canada_2[df_Canada_2.GEO == province]
    notifications.append(f'{province}, months_available: {len(temp_df["REF_DATE"].unique())}')

In [224]:
notifications

['Alberta, months_available: 565',
 'British Columbia, months_available: 565',
 'Manitoba, months_available: 565',
 'New Brunswick, months_available: 565',
 'Newfoundland and Labrador, months_available: 565',
 'Nova Scotia, months_available: 565',
 'Ontario, months_available: 565',
 'Prince Edward Island, months_available: 565',
 'Quebec, months_available: 565',
 'Saskatchewan, months_available: 565']

In [225]:
df_Canada_2['year'] = df_Canada_2.REF_DATE.str[:4]

C:\Users\npera\AppData\Local\Temp\ipykernel_3372\51042751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Canada_2['year'] = df_Canada_2.REF_DATE.str[:4]

**First chart for unemployment**

In [228]:
df_province_year_employment = df_Canada_2[['GEO', 'year', 'Labour force', 'Employment', 'Population', 'Part-time employment ', 'Full-time employment']].groupby(['GEO', 'year']).mean().reset_index()

In [229]:
df_province_year_employment.to_csv('employment_by_year_province.csv')

------------------

In [145]:
test_1 = df[df.REF_DATE.str[:4] == '2022']
test_2 = test_1[test_1.GEO == "Alberta"]

In [146]:
test_2

,REF_DATE,GEO,Sex,Age group,Employment,Full-time employment,Labour force,Part-time employment,Population,Unemployment,Employment rate,Participation rate,Unemployment rate
38088,2022-01,Alberta,Both sexes,15 to 24 years,304300.00,148800.00,346000.00,155500.00,527900.00,41700.00,57.60,65.50,12.10
38089,2022-01,Alberta,Both sexes,15 to 64 years,2233900.00,1833300.00,2394800.00,400600.00,2946500.00,160900.00,75.80,81.30,6.70
38090,2022-01,Alberta,Both sexes,15 years and over,2330300.00,1885400.00,2501300.00,444900.00,3573900.00,171000.00,65.20,70.00,6.80
38091,2022-01,Alberta,Both sexes,25 to 54 years,1589000.00,1388700.00,1678700.00,200300.00,1883700.00,89700.00,84.40,89.10,5.30
38092,2022-01,Alberta,Both sexes,25 years and over,2026000.00,1736500.00,2155400.00,289500.00,3046000.00,129400.00,66.50,70.80,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38848,2022-12,Alberta,Both sexes,15 to 64 years,2295400.00,1910700.00,2436700.00,384700.00,3006600.00,141300.00,76.30,81.00,5.80
38849,2022-12,Alberta,Both sexes,15 years and over,2409000.00,1970600.00,2552400.00,438500.00,3666200.00,143300.00,65.70,69.60,5.60
38850,2022-12,Alberta,Both sexes,25 to 54 years,1631600.00,1437200.00,1713800.00,194400.00,1928300.00,82200.00,84.60,88.90,4.80
38851,2022-12,Alberta,Both sexes,25 years and over,2098500.00,1796200.00,2205000.00,302300.00,3122600.00,106500.00,67.20,70.60,4.80
38852,2022-12,Alberta,Both sexes,55 years and over,466900.00,359000.00,491200.00,107900.00,1194200.00,24300.00,39.10,41.10,4.90

In [231]:
126016.67 	+ 729791.67

855808.3400000001

In [232]:
df_province_year_employment

,GEO,year,Labour force,Employment,Population,Part-time employment,Full-time employment
0,Alberta,1976,890483.33,855791.67,1320641.67,126016.67,729791.67
1,Alberta,1977,946833.33,904358.33,1399300.00,131225.00,773133.33
2,Alberta,1978,1007875.00,960158.33,1469416.67,142358.33,817808.33
3,Alberta,1979,1075616.67,1032933.33,1538925.00,142866.67,890100.00
4,Alberta,1980,1146375.00,1101966.67,1619383.33,152350.00,949625.00
...,...,...,...,...,...,...,...
475,Saskatchewan,2019,610275.00,576575.00,883741.67,106625.00,469908.33
476,Saskatchewan,2020,597233.33,547641.67,888016.67,95150.00,452491.67
477,Saskatchewan,2021,601275.00,561966.67,889583.33,104600.00,457375.00
478,Saskatchewan,2022,610275.00,581850.00,900216.67,104550.00,477291.67
479,Saskatchewan,2023,615500.00,589000.00,912000.00,110000.00,479000.00

# Total Population Data

In [35]:
population = pd.read_csv('17100005-eng/17100005.csv')
population_metadata = pd.read_csv('17100005-eng/17100005_MetaData.csv')

C:\Users\npera\AppData\Local\Temp\ipykernel_3372\943391690.py:1: DtypeWarning: Columns (12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  population = pd.read_csv('17100005-eng/17100005.csv')

In [102]:
pop_total_gender = population[population.Gender == 'Total - gender']

In [236]:
pop_all_ages = pop_total_gender[pop_total_gender['Age group'] == 'All ages']
pop_15_less = pop_total_gender[pop_total_gender['Age group'].isin(['0 to 4 years', '10 to 14 years'])]

In [237]:
pop_only_provinces = pop_all_ages[pop_all_ages.GEO.isin(df_Canada.GEO.unique().tolist())]
pop_15_only_provinces = pop_15_less[pop_15_less.GEO.isin(df_Canada.GEO.unique().tolist())]

In [238]:
pop_only_provinces.REF_DATE = pop_only_provinces.REF_DATE.astype(str)
pop_15_only_provinces.REF_DATE = pop_15_only_provinces.REF_DATE.astype(str)

C:\Users\npera\AppData\Local\Temp\ipykernel_3372\2998706274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_only_provinces.REF_DATE = pop_only_provinces.REF_DATE.astype(str)
C:\Users\npera\AppData\Local\Temp\ipykernel_3372\2998706274.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_15_only_provinces.REF_DATE = pop_15_only_provinces.REF_DATE.astype(str)

In [239]:
result_1 = pd.merge(df_province_year_employment, 
         pop_only_provinces[['REF_DATE', 'GEO', 'VALUE']],
        how='left', 
         left_on=['GEO', 'year'], 
         right_on=['GEO', 'REF_DATE'])

In [240]:
result_1

,GEO,year,Labour force,Employment,Population,Part-time employment,Full-time employment,REF_DATE,VALUE
0,Alberta,1976,890483.33,855791.67,1320641.67,126016.67,729791.67,1976,1869287.00
1,Alberta,1977,946833.33,904358.33,1399300.00,131225.00,773133.33,1977,1948263.00
2,Alberta,1978,1007875.00,960158.33,1469416.67,142358.33,817808.33,1978,2022241.00
3,Alberta,1979,1075616.67,1032933.33,1538925.00,142866.67,890100.00,1979,2096966.00
4,Alberta,1980,1146375.00,1101966.67,1619383.33,152350.00,949625.00,1980,2191029.00
...,...,...,...,...,...,...,...,...,...
475,Saskatchewan,2019,610275.00,576575.00,883741.67,106625.00,469908.33,2019,1164223.00
476,Saskatchewan,2020,597233.33,547641.67,888016.67,95150.00,452491.67,2020,1167386.00
477,Saskatchewan,2021,601275.00,561966.67,889583.33,104600.00,457375.00,2021,1167711.00
478,Saskatchewan,2022,610275.00,581850.00,900216.67,104550.00,477291.67,2022,1178455.00
479,Saskatchewan,2023,615500.00,589000.00,912000.00,110000.00,479000.00,2023,1209307.00

In [247]:
pop_15_only_provinces_grouped = pop_15_only_provinces[['GEO', 'REF_DATE', 'VALUE']].groupby(['GEO', 'REF_DATE']).sum().reset_index()

In [278]:
result_2 = pd.merge(result_1, 
                    pop_15_only_provinces_grouped, 
                    how='left', 
                    on = ['GEO', 'REF_DATE']
                   ).rename(columns={'VALUE_x': 'Total_Population', 'VALUE_y':'Population_0_14'})

In [279]:
result_2

,GEO,year,Labour force,Employment,Population,Part-time employment,Full-time employment,REF_DATE,Total_Population,Population_0_14
0,Alberta,1976,890483.33,855791.67,1320641.67,126016.67,729791.67,1976,1869287.00,343036.00
1,Alberta,1977,946833.33,904358.33,1399300.00,131225.00,773133.33,1977,1948263.00,344571.00
2,Alberta,1978,1007875.00,960158.33,1469416.67,142358.33,817808.33,1978,2022241.00,345699.00
3,Alberta,1979,1075616.67,1032933.33,1538925.00,142866.67,890100.00,1979,2096966.00,349992.00
4,Alberta,1980,1146375.00,1101966.67,1619383.33,152350.00,949625.00,1980,2191029.00,360128.00
...,...,...,...,...,...,...,...,...,...,...
475,Saskatchewan,2019,610275.00,576575.00,883741.67,106625.00,469908.33,2019,1164223.00,149655.00
476,Saskatchewan,2020,597233.33,547641.67,888016.67,95150.00,452491.67,2020,1167386.00,150025.00
477,Saskatchewan,2021,601275.00,561966.67,889583.33,104600.00,457375.00,2021,1167711.00,149227.00
478,Saskatchewan,2022,610275.00,581850.00,900216.67,104550.00,477291.67,2022,1178455.00,149159.00
479,Saskatchewan,2023,615500.00,589000.00,912000.00,110000.00,479000.00,2023,1209307.00,150745.00

In [280]:
result_2['Population_15_more'] = result_2.Total_Population - result_2.Population_0_14
result_2['per_labour_force'] = result_2['Labour force'] / result_2.Population
result_2['per_employment'] = result_2.Employment / result_2.Population
result_2['per_unemployment'] = result_2['per_labour_force'] - result_2['per_employment']
result_2['per_parttime'] = (result_2.Employment * result_2['Part-time employment ']/
                            (result_2['Part-time employment '] + result_2['Full-time employment'])) / result_2.Population
result_2['per_fulltime'] = (result_2.Employment * result_2['Full-time employment']/
                            (result_2['Part-time employment '] + result_2['Full-time employment'])) / result_2.Population

In [281]:
result_2['labour_force'] = result_2['Population_15_more'] * result_2['per_labour_force']
result_2['inactive_adults'] = result_2['Population_15_more'] - result_2['labour_force']
result_2['employment'] = result_2['Population_15_more'] * result_2['per_employment']
result_2['unemployment'] = result_2['Population_15_more'] * result_2['per_unemployment']
result_2['parttime'] = result_2['Population_15_more'] * result_2['per_parttime']
result_2['fulltime'] = result_2['Population_15_more'] * result_2['per_fulltime']

In [282]:
result_2.columns

Index(['GEO', 'year', 'Labour force', 'Employment', 'Population',
       'Part-time employment ', 'Full-time employment', 'REF_DATE',
       'Total_Population', 'Population_0_14', 'Population_15_more',
       'per_labour_force', 'per_employment', 'per_unemployment',
       'per_parttime', 'per_fulltime', 'labour_force', 'inactive_adults',
       'employment', 'unemployment', 'parttime', 'fulltime'],
      dtype='object')

**First Chart for Unemployment**

In [284]:
result_2[['GEO', 'year',
       'Total_Population', 'Population_0_14', 'Population_15_more', 'labour_force', 'inactive_adults', 'employment',
       'unemployment', 'parttime', 'fulltime']].to_csv("data_unemployment_first_chart.csv", index=False)

------------------------